.company_logo{
	
	width:100%;
	height:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:thick;
	border-color:black;
	border-style:double;
		border-top-left-radius: 6px;
border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;

	
}

.nav-bar{
background-color:silver;

height:79%;
float: left;
	border:thick;
	border-color:black;
	border-style:double;
	border-top-left-radius: 6px;
border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
margin:0;
padding:0;
margin-right: 10px;


	
	
}

.content{
	
	width:85%;
	height: 79%;
		margin-left:auto;
	margin-right:auto;
	padding-left: 1%;
	margin-bottom: auto;

		border:thick;
	border-color:black;
	border-style:groove;
	border-top-left-radius: 6px;
border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;

float:right;


overflow:auto;




	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li{
			border:thick;
	border-color:black;
	border-style:groove;
	border-top-left-radius: 6px;
border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}

.text{
	margin-left:50px;
	
	
}
.footer {
background-color: #777;
padding: 1em;
border:thick;
	border-color:black;
	border-style:groove;

margin-top: 10px;
	border-top-left-radius: 6px;
border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
position: absolute;
float:bottom;
bottom: 0;
width:100%;
padding-bottom: 40px;


}



#post-form label.error {
  color:#FB3A3A;
  font-weight:bold;
}
body,html{
	height:100%;
}



#navs:link { color: white; text-decoration: none }
#navs:active { color: white; text-decoration: none }
#navs:visited { color: white; text-decoration: none }
#navs:hover{color:white;}


li:hover{color:white;background: black;}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1300px;
}

.auth{
	padding-top: 100px;
}